.container {
    width: 190px;
    height: 254px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
}

.card2 {
    width: 190px;
    height: 254px;
    background-color: #1a1a1a;
    border-radius: 20px;
    transition: all .2s;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.container img {
    width: 130px;
    box-shadow: 0 5px 5px black;
    margin-top: 15px;
}

.buttoContainer {
    display: flex-end;
    justify-content: flex-end;
}

.buttoContainer button {
    margin: 2px 2px 0 0;
    border-radius: 3px;
    background-color: greenyellow;
    color: gray;
    box-shadow: 0 2px 2px black;
}

.buttoContainer button:hover {
    background-color: goldenrod;
    color: gray;
}

.dataContainer {
    text-align: center;
    padding: auto auto;
}

.dataContainer h1 {
    margin: 2px;
    font-size: 45px;
    color: #8707ff;
}

.dataContainer h3 {
    margin: 2px;
    font-size: 30px;
    color: rgb(28, 8, 73);
}

.dataContainer h2 {
    margin: 2px;
    font-size: 30px;
    color: rgb(28, 8, 73);
    
}
